/* ==========================================
   DORACAKE
========================================== */

#doracake{

    position:absolute;

    right:35px;
    bottom:25px;

    z-index:15;

    cursor:pointer;

    animation:doracakeFloat 3.5s ease-in-out infinite;

    transition:transform .3s ease;

}

#doracake img{

    width:85px;

    display:block;

    filter:drop-shadow(0 8px 12px rgba(0,0,0,.15));

}

#doracake:hover{

    transform:scale(1.08);

}

#doracakeMessage{

    position:absolute;

    right:125px;
    bottom:48px;

    background:rgba(255,255,255,.95);

    color:#6B4B33;

    font-size:14px;

    padding:10px 14px;

    border-radius:14px;

    box-shadow:0 8px 20px rgba(0,0,0,.12);

    opacity:0;

    transform:translateX(10px);

    transition:.3s ease;

    pointer-events:none;

}

#doracake:hover + #doracakeMessage,
#doracakeMessage.show{

    opacity:1;

    transform:translateX(0);

}

@keyframes doracakeFloat{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-8px);

    }

    100%{

        transform:translateY(0);

    }

}

#doracakeHint{

    position:absolute;
    z-index: 10;
    bottom:110px;
    right:30px;

    font-family:"Poppins",sans-serif;

    font-size:15px;

    color:#8B6A47;

    opacity:0;

    transform:translateY(10px);

    transition:.5s;

    pointer-events:none;

}

#doracake.active{

    animation:doracakeBounce 1.8s ease-in-out infinite;

    cursor:pointer;

}

#doracake.active + #doracakeHint{

    opacity:1;

    transform:translateY(0);

}

@keyframes doracakeBounce{

    0%,100%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-12px);

    }

}
@media (max-width:768px){
    #doracakeHint{
        font-size: 15px;
        font-style: italic;
        right: 9px;
        font-weight: bold;
    }   
}